/* 로그인 페이지가 중앙에 위치해야 하므로 margin과 width속성을 사용해 정렬해준다.
안에 요소들을 절대 위치를 사용할 것이기에 부모 태그에 position: relative를 주고 
height: 700px을 주어 높이를 지정 */

section{
    margin: 0 auto;
    width: 700px;
    height: 700px;
    background-color: #FAF8F4;
    margin-top: 50px;
    position: relative ;
    
}

/* 로그인 이미지 적절하게 배치 */

section img {
    margin-top: 10%;
    margin-left: 27%;
    margin-bottom: 10%;
}

/* border-top, border-right, border-left에 none값을 주어 해당하는 border를 제거해주고 아래 border만 
남게 만들었다 */

input{
    margin-left: 13%;
    width: 500px;
    height: 50px;
    font-size: 20px;
    background-color: #FAF8F4;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #DEDED3;
}
/* 
input태그가 focus될때 바깥 아웃라인을 outline-style:none 을 주어 제거, :placeholder 기본색상이
black색상이므로 현재 스타일과 알맞게 색을 줌 */

input:focus{
    outline-style: none;
}

input::placeholder{
    color: #1e5142a1;
}

/* 아이디 찾기와 비밀번호 찾기는 대부분 아래 오른쪽에 위치해 있으므로 position을 absoltute를 주고
right 값을 적절히 준다. a태그(빈 태그)를 사용했지에 text-decoration: none을 주어 아래 밑줄 제거*/

form p{
    position: absolute;
    right: 15%;
}

form p > a{
    text-decoration: none;
    font-size: 14px;
    color: #6c6b69;
}

/* 아래 로그인 버튼 이렇게 스타일을 지정해 주었다. 
:hober를 사용하여 마우스가 버튼위에 있을 시 버튼 색 변화를 주었다. */

#login_btn button{
    width: 505px;
    height: 70px;
    background-color:rgb(173, 145, 110);
    text-align: center;
    position: absolute;
    top: 63%;
    left: 13%;
    color: white;
    font-family: '맑은고딕';
    font-size: 20px;
    border: none;
}

#login_btn button:hover {
    background-color: #695226;
    border: #695226;
}

/* 간편로그인 스타일 시트 */

#easy{
    position :absolute;
    top:83%;
    left: 13%;
    font-weight: bold;
    color: #6c6b69;

}

#kakao {
    position: absolute;
    top: 73%;
    left: 20%;
    width: 60px;
    height: 60px;
}

#naver {
    position: absolute;
    top: 73%;
    left: 30%;
    width: 60px;
    height: 60px;
}

#facebook{
    position: absolute;
    top: 73%;
    left: 40%;
    width: 60px;
    height: 60px;

}

#google{
    position: absolute;
    top: 73%;
    left: 50%;
    width: 60px;
    height: 60px;
}
